@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
    height: 100%;
    width: 100%;
    background-color: #717957;
  }
  
  header {
    font-size: 70%;
  }

  header, main {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-items: center;
    font-family: Permanent Marker, sans-serif;
  }

  #gameplay-area {
    display: none;
  }

  #flag-container {
    height: 45vh;
    width: 100%;
    display: flex;
    position: relative;
  }
  #landing-flag {
    background-image: url("../images/earth-flag.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    position: relative;
    width: 100vw;
    margin: 10px;
    min-height: 40vh; 
  }

  #random-flag {
    display: none;
    object-fit: cover;
    object-position: center;
    width: 90vw;
    margin: auto;
    min-height: 0vh;
  }


  .start-game-btn {
    position: relative;
    margin: 5% 0;
  }

  #next-flag-btn {
    display: none;
  }

  p {
    font-size: 80%;
    text-align: center;
  }

  #main-game-area{
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, .3);
    width: 80vw;
    height: 20vh;
    padding: 50px, 0;
  }

  .multiple-choices {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
  }

  .player-score-area {
    width: 70vw;
    position: relative;
    font-size: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .options:hover {
    background-color: lightcoral;
  }
  